name: Release Please (Python)

"on":
  workflow_call:
    inputs:
      package-name:
        type: string
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: python
          package-name: ${{ inputs.package-name }}